### Base de données ###
db.sqlite3

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### Node modules ###
static/node_modules
static/package-lock.json
node_modules/

### Package lock ###
package-lock.json

### VSC settings ###
.vscode