### Base de données ###
db.sqlite3

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### Node modules ###
static/node_modules
static/package-lock.json

### Package lock ###

package-lock.json