asgiref==3.7.2
beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.6
django-crispy-forms==2.0
django-extensions==3.2.3
django-tailwind==3.8.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
gunicorn==23.0.0
idna==3.6
# mysqlclient==2.1.1
packaging==25.0
Pillow==10.1.0
python-decouple==3.8
python-http-client==3.3.7
pytz==2023.3.post1
requests==2.32.3
sendgrid==6.11.0
soupsieve==2.7
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.4.0
whitenoise==6.4.0