{% extends 'base.html' %} {% load static %} {% block styles %}
<style>
    body {
        background-color: #ffb9ff;
    }
</style>
{% endblock %} {% block content %}
<div class="text-black mx-[8%] my-[3%] space-y-12 pb-14">
    <h2 class="text-4xl font-medium font-['Clash Grotesk Variable']">À propos de nous</h2>
    <div>
        <div class="flex h-full">
            <div class="rounded-lg overflow-hidden w-2/3 mr-[3%] aspect-[16/9]">
                <img class="w-500 h-450 object-cover" src="{% static 'images/wallpaper/kreateam.png' %}"
                    alt="image de présentation du groupe" loading="lazy" />
            </div>
            <div class="flex flex-col ml-5 w-1/3">
                <h2 class="text-4xl font-semibold mb-4">Qui sommes nous ?</h2>
                <p class="text-l font-medium leading-relaxed">
                    Bienvenue sur Kreativ, le média qui explore l'univers fascinant du design et son impact sur notre quotidien.
                    Nous nous adressons à une génération curieuse, passionnée par les tendances actuelles et avide de comprendre comment le design façonne notre monde. De l'architecture à la mode, en passant par le design graphique et industriel, nous croyons que tout ce qui nous entoure est influencé par des choix créatifs.
                    Sur Kreativ, nous partageons des fun facts surprenants, des analyses de tendances inspirantes, des histoires captivantes, et bien plus encore. Notre objectif ? Démystifier l'impact du design sur notre environnement tout en offrant des ressources et des réflexions qui nourrissent l'imagination et l'esprit critique.
                </p>
            </div>
        </div>
        <div class="h-full mt-[4.5rem]">
            <h5 class="text-3xl font-semibold mb-4 tracking-tight sm:text-3xl text-pretty text-center"> LA KREATEAM </h5>
            <p class="my-8 text-base/7 text-center font-[Helvetica]">
                Chez Kreativ, notre équipe est un melting-pot de talents jeunes, créatifs et ambitieux. Nous sommes un groupe d'étudiants passionnés qui viennent de divers horizons : design graphique, communication, audiovisuel, informatique, marketing… chacun apporte sa vision unique et son expertise pour faire grandir ce projet.
            </p>
            <p class="my-8 text-base/7 text-center font-[Helvetica]">
                Ce qui nous unit, c'est notre volonté de donner vie à Kreativ en partageant notre passion commune pour le design et ses multiples facettes. Nous sommes convaincus que l'union de nos compétences et de nos perspectives diverses nous permet de proposer du contenu riche, inspirant et accessible à notre audience.
            </p>
            <p class="my-8 text-base/7 text-center font-[Helvetica]">
                Nous croyons en la force de la collaboration et en la magie des idées collectives pour transformer notre vision en un média créatif, dynamique et en constante évolution. <br/> C'est cette passion pour le design et cette envie de partager ce qui nous anime qui nous poussent chaque jour à aller plus loin et à offrir à notre communauté une véritable source d'inspiration.
            </p>
        </div>
        <div class="h-full mt-[4.5rem]">
            <h5 class="text-3xl font-semibold mb-4 tracking-tight sm:text-3xl text-pretty text-center"> Pourquoi Nous Suivre ? </h5>
            <p class="my-8 text-base/7 text-center font-[Helvetica]">
                Suivre Kreativ, c'est s'offrir un regard nouveau sur le design. Chaque jour, nous partageons des tendances, des insights et des histoires inspirantes qui révèlent comment le design <br/> façonne notre monde. Si tu es curieux, créatif, et à la recherche d'inspiration, tu trouveras chez nous une communauté dynamique et un contenu qui stimule ta créativité. Rejoins-nous pour ne rien manquer de l'univers fascinant du design !
            </p>
        </div>
    </div>
</div>

{% endblock%}