{% extends 'base.html' %} {% load static %} {% block styles %} {% endblock %} {% block content %}

<div>
    <div class="relative w-full bg-[#ffb9ff]">
        <img class="w-full h-auto block" src="{% static 'images/wallpaper/fond_homepage.png' %}"
            alt="Fond home page" loading="lazy" />
        <div class="absolute top-[60%] w-[750px] overlay-text max-w-full text-lg font-bold">
            <h1 class="text-5xl pl-20 text-white font-(family-name: 'Clash Grotesk Variable')">
                Chez Kreativ, <br/>
                on décrypte, <br/>
                on explore, <br/>
                on partage !
            </h1>
        </div>
    </div>

    <div class="bg-[#ffb9ff] min-h-[50vh]">
        {% include 'contenus_page.html' %}

        <div class="pl-20 pt-6">
            <h1 class="text-white font-(family-name: 'Clash Grotesk Variable') font-bold text-xl">Nos partenaires</h1>
            <div class="h-[100px]"></div>
        </div>
    </div>
</div>

<script src=""></script>

{% endblock %}