{% extends 'base.html' %} 

{% load static %}

{% block styles %}

{% endblock %}

{% block content %}

<div>
  <div class="h-[100vh]">
      <img class="w-full h-full object-cover" src="{% static 'images/wallpaper/fond_homepage.png' %}" alt="Fond home page">
      <div class="overlay-text absolute text-lg font-[bold] top-3/4">
      <h1 class="ml-4">Bienvenue sur le site de Kreativ !</h1>
      </div>
  </div>
  
  <div class="bg-black">
      <div class="mx-auto max">
      <h1 class="text-black">Nos derniers contenus</h1>
      </div>
  </div>
</div>

{% endblock %}
